.navHeader {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: darkslategrey;
  height: 170px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
  display: contents;
  flex-wrap: nowrap !important;
  width: 100%;
}

.navHeader a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
  flex-wrap: inherit;
}

.fontStyle {
  color: aliceblue;
  justify-content: flex-end;
  padding: 15px;
}

.push {
  margin-left: auto;
}

.navFooter {
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: darkslategrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  border-bottom: unset !important;
}

.navFooter a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}